.Accomodation_nav-container{
    width: 100vw;
    position: fixed;
    top: 0;
    min-width: 320px;
}
.Accomodation_nav_body{
    position: absolute;
    top: 0px;
    width: 100vw; 
    height: 65%;
    background-color: black;
    color: rgb(223, 221, 217);
    min-width: 320px;
    background-image: url("../imgs/accNav.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    text-align: center;
    font-size: 30px;
    height: 60px;
}
.search{
    display: flex;
    justify-content:center;
}
.form-control{
    width: 50%
}
.select{
    text-align: center;
    padding-top: 20px;
}
.Accomodation_nav2{
   width: 100vw;
   min-width: 302px;
   height: 30px;
   position: absolute;
   bottom: 40px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   color: black;
}
.back{
    flex: 1;
    padding-left: 50px;
    position: relative;
}
.Upload-accomodation_container{
    flex: 3;
    text-align: end;
    padding-right: 50px;
}
.accomodation_body_container{
    width: 100vw;
    min-width:320px;
}

.accomodation_body{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 200px;
    width: 70%;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    margin-top: 15px;
}
.accomodation_body_container_sub{
    margin-top: 250px;
    width: 100%;
    height: auto;
}
.Accomodation{
    overflow: hidden;
}
.img_container{
    width: 30px;
    height: 200px;
    flex: 1;
    padding-bottom: 5px;
}
.info1{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    padding-left: 15px;
}
.info2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.accomodation_type{
    height: 40px;
}
.accomodation_type h3{
    font-size: 20px;
}
.tel_display{
    height: 30px;
    font-size: 15px;
    line-height: 30px;
}
.address_display{
    width: 500px;
    height: 100px;
    overflow-y: auto;
    overflow-wrap: break-word;
    padding: 1px;
    box-shadow: 0.5px 0.5px 0.5px rgb(223, 221, 217);
}

.remove_container{
    flex: 2;
    text-align: right;
}
.remove_container button{
    background: transparent;
    border: 3px solid blue;
}

.remove_container button:hover{
   background-color: blue;
   border: 3px solid black;
   color: white;
}
.remove_container button:focus{
    outline: none;
}
.price_container{
    flex: 1;
    text-align: right;
    position: relative;
    z-index: -1;
}
.price_container h5{
   font-size: 15px;
   position: absolute;
   right: 0px;
}
.bodyImg{
    width: 100%;
    height: 100%;
}
.price_container__money{
    color: red;
}


@media(max-width:1024px){
    .price_container{
        z-index: -1;
    }
    .tel_display{
        height: 30px;
        font-size: 15px;
        line-height: 15px;
    }
    .address_display{
        width: 30em;
        height: 100px;
        overflow-y: auto;
        overflow-wrap: break-word;
        padding: 1px;
        box-shadow: 0.5px 0.5px 0.5px rgb(223, 221, 217);
    }
    .title{
        text-align: center;
        font-size: 25px;
        height: 60px;
    }
    .accomodation_body{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
        height: 200px;
        width: 97%;
        margin-top: 15px;
    }       
    .img_container{
        width: 200px;
        height: 200px;
        flex: 1.5;
    }
}
.back:hover{
    cursor: pointer;
}
.Upload-accomodation:hover{
    cursor: pointer;
}
@media(max-width:700px){
    .accomodation_body{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
        height: 100px;
        width: 98%;
        margin-top: 15px;
    }
    .img_container{
        width: 40px;
        height: 100px;
        flex: 1;
    }
    .form-control{
        width: 70%
    }
    .back{
        flex: 1;
        padding-left: 10px;
    
    }
    .Upload-accomodation_container{
        flex: 3;
        text-align: end;
        padding-right: 10px;
    
    }
    .address_display{
        width: 180px;
        overflow-y: auto;
        overflow-wrap: break-word;
        padding: 1px;
        box-shadow: 0.5px 0.5px 0.5px rgb(223, 221, 217);
    }
}
@media(max-width:500px){
    .price_container h5{
        width: 110px;
        padding: 3px;
        font-size: 12px;
        position: absolute;
        bottom: -8px;
        right: 0px;
    }
}