.navbar{
    z-index: 16;
}

.logout2{
    background-color: white;
    color: black;
    border: none;
}
.remove_linkStyle{
    display: inline-block;
    width: 100%;
}
.logout2:focus{
    outline: none;
}
.navContent .remove_linkStyle{
    text-decoration: none;
    
}
.navContainer-sz{
    min-width: 95px;
}
#navContent_upLoad_sub li Link{
        border: 1px solid red;
        width: 100px;
}



/*.nav-link:hover{
    cursor: pointer;
}
.signup{
    padding-right: 10px;
    padding-bottom: 60px;
}
.nav-item{
    list-style: none;
}
.registerContainer{
    width: 100px;
    display: flex;
    flex-direction: row;
}

.logout{
    color: black;
    margin-right: 20px;
}
@media(max-width:1024px){
    .signup{
        padding-right: 10px;;
    }
    .form-control{
        margin-top: 20px;
    }
}*/