.resetPasswordConatianer{
    width: 100vw;
    height: 100vh;
    border: 1px solid blue;
    padding-top: 40vh;
    background-image: url("../imgs/verifiedimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.resetPasswordConatianer form{
    width: 70%;
    margin: 0 auto;
    text-align: center;
  
}
.resetPasswordConatianer form input:nth-child(1):focus{
    outline: none;
}
.resetPasswordConatianer form > input:nth-child(1){
    border: none;
    border-bottom: 2px solid black;
    width: 250px;
    background-color: transparent;
}
.resetPasswordConatianer form  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    width:100%;
    justify-content: center;
}
.resetPasswordConatianer form  ul li input{
    margin: 0;
    padding: 0;
}
.resetPasswordConatianer form  input:nth-child(3){
    border: 3px solid black;
    width: 135px;
    padding: 6px;
    background-color: transparent;
    margin-left: 20px;
}

.resetPasswordConatianer form input:nth-child(2):hover{
    border: 3px solid blue;
    
}
.resetPasswordConatianer form input:nth-child(2):active{
    border: 3px solid red;
}

@media (max-width:500px) {
    .resetPasswordConatianer form{
        width: 100%;  
    }
    .resetPasswordConatianer form input:nth-child(1){
        text-align: center;
      }
     .resetPasswordConatianer form input:nth-child(3){
        margin-top: 25px;
        width: 100px;
        padding: 5px;
     }
}