.section1 {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    padding-top: 10px;
    z-index: 30;
  }
  div.sc-fubCfw.bngCLd{
    width: 250px;
    height: 190px;
    border-radius: 20px;
}
.categories-title{
    color: #b7a8c1ed;
    width: 100px;
    height: 16px;
    margin-left: 70px;
}

.sc-fubCfw.irPtrP.rec.rec-pagination button:hover{
    border:3px solid #007BFF;
    box-shadow: none;
}
button.sc-iBPRYJ.bKSpso.rec.rec-dot.rec.rec-dot_active{
    background-color:#007BFF;
}
 
button.sc-gsTCUz.iCLbQl.rec.rec-arrow.rec.rec-arrow-right:hover{
    background-color:#007BFF ;
}
button.sc-gsTCUz.iCLbQl.rec.rec-arrow.rec.rec-arrow-left:hover{
    background-color:#007BFF ;
}
button.sc-gsTCUz.iCNAQb.rec.rec-arrow.rec.rec-arrow-right:hover{
    background-color:#007BFF ;
}
button.sc-gsTCUz.iCNAQb.rec.rec-arrow.rec.rec-arrow-left:hover{
    background-color:#007BFF ;
}

.sc-pFZIQ.gbgfMs{
    background-color:transparent;
}
.sc-bdfBwQ.cIKpxU{
    box-shadow: none;
}
.sc-gsTCUz:focus {
    outline: none;
}
.cIKpxU{
    box-shadow: none;
}
@media(max-width:1024px){
    div.sc-fubCfw.eBAoSG{
        width: 140px;
        height: 200px;
        border-radius: 20px;
    }
 /*   .rec{
        width: 170px;
        border-radius: 12px;
    }*/
}
